:root {
  --material-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

html,
body {
  width: 100%;
  margin: 0px;
  padding: 0px;
  font-family: Segoe UI, system-ui, -apple-system, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #161616;
  background-color: white;
  transition: 0.5s all;
}

.main {
  width: 90%;
}

@media only screen and (max-width: 800px) {
  .my-grid {
    display: none !important;
  }

  .my-grid-mobile {
    display: grid !important;
  }
}

.my-grid {
  --grid-gap: 10px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: var(--grid-gap);

  .large {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
  }

  .mid {
    grid-column: 1 / 4;
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: var(--grid-gap);
  }

  .small {
    grid-column: 4 / 6;
    grid-row: 1 / 2;
  }

  .tiny {
    grid-column: 4 / 6;
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: var(--grid-gap);
  }
}

.my-grid-mobile {
  display: none;
  grid-gap: 10px;
  margin-bottom: 50px;

  .large {
    width: 100%;
  }

  .mid {
    display: grid;
    grid-template-columns: 301px 1fr;
    grid-gap: 10px;
  }

  .small {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
  }

  .tiny {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
  }
}

.header {
  text-align: center;

  & h2 {
    font-size: 1.2em;
    font-weight: 200;
  }

  .control-panel-container {
    display: flex;
    justify-content: center;
    align-items: center;

    .control-panel {
      width: 280px;
      display: grid;
      grid-template-columns: 1fr 60px 1fr;

      >div {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .toggle {
        width: 100%;
        height: 30px;
        border-radius: 15px;
        background-color: #bbb9b9;
        cursor: pointer;
        box-shadow: var(--material-box-shadow);
        justify-content: left;

        .switch {
          width: 30px;
          height: 30px;
          border-radius: 15px;
          background-color: #6d6d6d;
          transition: 0.5s;
        }

        .move-right {
          transform: translateX(calc(100%));
        }
      }
    }
  }

  .note {
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 0.8em;
    font-style: italic;
  }
}